:root{
    --mid-dark-bg: rgb(46, 58, 70);
    --main-bg: rgb(30, 45, 59);
    --text-grey: rgb(128, 128, 128)
}


// colori con variabili:
#header_site,
#main_site .disc{
    background-color: var(--mid-dark-bg);
}

#main_site{
    background-color: var(--main-bg);

    .info{
        color: var(--text-grey);
    }
}

// HEADER:
header{
    height: 75px;
    
    .logo{
        width: 45px;
        margin: 15px
    }
}


// MAIN:

//MainSite:
#main_site{
    height: 1200px;

    .main_content{
        padding: 100px 0;
    }


    // DiscList:
    .disc{
        height: 100%;
        
        img{
            width: 100%;
        } 
        
        .author{
            font-size: 1.2rem;
            line-height: 1.3rem;
        }
        
    }
}